<table class="table table-bordered">
    <colgroup>
        <col style="width: 10px;">
        <col style="width: 20px;"> 
        <col> 
    </colgroup>
    <thead>
        <tr>
            <th style="width: 10px;">S.No</th> 
            &nbsp
            <th style="width: 20px;">PhoneNumber</th> 
            &nbsp
            <th>Street</th> 
            <th>Pumped Today</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="number" class="xyz"></td>
            <td><input type="text" class="xyz"></td>
            <td><input type="text" class="xyz"></td>
            <td>
                <label>
                    <input type="radio" class="xyz" name="pumped" value="yes"> Yes
                </label>
                <label>
                    <input type="radio" class="xyz" name="pumped" value="no"> No
                </label>
            </td>
        </tr>
    </tbody>
</table>
